/* Add your own styles */
h1{
    border-bottom-style: solid;
    border-bottom-color: red;
    text-align: center;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
}
#country{

 width: 150px;
 font-size: 20px;
 
    
}

button{
     color:white;
    font-size: 14px;
    border-radius: 5px;
}
#lookup{
    background-color: brown;
   
    
}

#citylookup{
    background-color: limegreen;
}
  
table{
    width: 100%;
    
}
table th{
    background-color: #005b96;
    color: white;
}
table tr{
    background-color: #6497b1;
   
}
table tr:nth-child(even) {
  background: #b3cde0;
}